export(escape)
export(escapeR_file)
export(hint)
export(list_rooms)
export(play)
export(plot_detection)
export(reset_game)
export(start_escape)
export(status)
export(submit)
export(survey_counts)
importFrom(graphics,axis)
importFrom(graphics,par)
importFrom(graphics,plot)
