export(build_escape)
export(escape)
export(escapeR_file)
export(hint)
export(list_rooms)
export(list_escapes)
export(new_room)
export(new_room_pack)
export(play)
export(register_room_pack)
export(register_rooms)
export(reset_game)
export(status)
export(submit)
export(survey_counts)
